<h2><%= @application.title%></h2>
<h2><%= @application.description%></h2>

<%= form_tag "/questions/new", method: :get do %>
  <div>
    <input type="hidden" name="application_id" class="form_control" value="<%= @application.id %>">
  </div>
  <div>
    <input type="submit" value="Add Questions form" class="btn btn-default">
  </div>
<% end %>
